<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMercadoMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebMercadoMVC.styles.css" asp-append-version="true" />
</head>
<body class="bg-opacity-100 bg-warning">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">WebMercadoMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light bg-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Opções
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Cliente</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="Index">Produto</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Compras" asp-action="Index">Compra</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Ofertas" asp-action="Index">Oferta</a></li>
                                <li><a class="nav-link text-dark" href="/Query/Pesquisa">Filtro por Nome (Cliente)</a></li>
                                <li><a class="nav-link text-dark" href="/Query/PesquisaProd">Filtro por Nome (Produto)</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-dark" href="#">Créditos</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Geração de Dados
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Dados" asp-action="Clientes">Clientes</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Dados" asp-action="Produtos">Produtos</a>
                            </ul>
                        </li>

                    </ul>
                    
                    <partial name="_LoginPartial"/>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark border-top footer text-muted">
        <div class="container text-white">
            &copy; Victor Masayuki Higuchi e Thiago de Carvalho Ferreira - 2023  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
