@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Mercado de Ofertas !!</h1>
    <p>As melhores ofertas do mercado você só encontra aqui!!</p>
</div>
