@{
    ViewData["Title"] = "Pesquisa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Filtrar Clientes</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Clientes">
            <div class="form-group">
                <label class="form-label">Filtrar</label>
                <br />
                <input type="text" class="form-control" name="filtro" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-info" /> |
                <a asp-controller="Clientes" asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}