@model WebMercadoMVC.Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes do Cliente</h1>

<div>
    <hr />
    <dl class="table">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>

<div>
    <a input type="submit" class="btn btn-primary btn-info" asp-action="Editar" asp-route-id="@Model?.id">Edit</a> |
    <a input type="submit" class="btn btn-danger" asp-action="Index">Voltar</a>
</div>
